@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0;
  padding: 0;
}

.main-container {
  flex-grow: 1;
  padding-top: 50px;
  padding-bottom: 104px;
}

.page-wrapper {
  background-color: #FFFFFF;
  max-width: 1200px;
  margin-inline: auto;
}


/*Buttons*/

.button {
  display: inline-block;
  font-family: initial;
  line-height: 36px;
  font-size: 20px;
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  min-height: 52px;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 20px;
}

.button-sn {
  min-height: 36px;
  font-size: 16px;
  line-height: 20px;
}

.button-primary {
  background-color: #756157;
  color: #FFFFFF;
}

.button-secondary {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.button-invisible {
  color: #FFFFFF;
}

.button-special {
  background-color: #7DB54F;
  color: #FFFFFF;
}

.button-current {
  background-color: #F2F2F2;
  color: #000000;
}

.button-small {
  background-color: #F2F2F2;
  color: #333333;
  font-size: 16px;
  line-height: 20px;
}

/*Header*/

.header {
  color: #000000;
  background-color: #FFFFFF;
}

.logo {
  display: block;
  width: 138px;
  margin-left: 70px;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  width: 339px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  width: 268px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.navigation-link {
  display: block;
  padding: 20px 16px;



  line-height: 24px;
  font-size: 20px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
}

.navigation-user-item {
  min-width: 44px;
  min-height: 64px;
}


.navigation-user-link {
  color: inherit;
  text-decoration: none;
}

.navigation-link-go {
  min-width: 160px;
  width: 160px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}



.hero {
  display: flex;
  justify-content: center;
  padding-top: 51px;
  padding-bottom: 25px;



  background-color: #3d6686;
  background-image: url(/images/vector.svg), url(/images/bg-header.jpg);
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
}

.title-block {
  background-color: #FFFFFF;
  text-align: center;
  color: #000000;
}

.title-block-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.title-block-secondary {
  font-size: 22px;
  line-height: 26px;
}


/*advantages*/


.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 85px;
  text-align: center;
}

.advantages-item-long {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-middle {
  background-color: #83B3D333;
}

.advantages-item-light {
  background-color: #83B3D31F;
}

.advantages-card-attractions {
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-card-long {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.convenience-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 85px;
}

.convenience-item-middle {
  background-color: #83B3D31F;
  text-align: center;
}

.convenience-item-light {
  text-align: center;
}

.convenience-item-point {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}


/*registration*/


.registration {
  background-color: #FFFFFF;
  text-align: center;
  color: #000000;
}

.registration-large {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.registration-secondary {
  font-size: 22px;
  line-height: 26px;
}


/*newsletter*/


.newsletter {
  background-color: #82B3D3;
  background-image: url(/images/bg-footer.jpg);
  color: #FFFFFF;
  text-align: center;
}

.newsletter-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.newsletter-secondary {
  font-size: 22px;
  line-height: 26px;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-socials {
  margin-left: 70px;
  margin-right: auto;
  max-width: 160px;
}

.footer-contact {
  margin: auto;
  max-width: 350px;
}

.address-container {
  margin-right: 70px;
  margin-left: auto;
  max-width: 120px;
}

/*Catalog*/


.page-section {
  display: flex;
  flex-direction: column;




  background-color: #82B3D3;
  background-image: url(/images/bg-catalog.jpg);
  color: #FFFFFF;
}

.page-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-group-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 70px;
  width: 370px;
}

.catalog-filter-group {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-search-container {
  display: flex;
  justify-content: end;
  width: 191px;
  align-content: stretch;
}

.catalog-activities {
  color: #000000;
  background-color: #FFFFFF;
}

.catalog-primary {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.newsletter-catalog {
  background-color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.newsletter-primary {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.footer-contact {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

/*Сетки*/



.catalog-list-inner {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 40px 70px;
  padding: 20px;
}

.product-card-inner {
  width: 340px;
  padding: 20px;
  margin: 20px;
}

.product-card-inner:nth-child(3n) {
  margin-right: 0;
}

/*
.visually-hidden{
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
border: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}
