@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0;
  padding: 0;
}

.main-container {
  flex-grow: 1;
  padding-top: 50px;
  padding-bottom: 104px;
}

.page-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  max-width: 1200px;
  margin-inline: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1060px;
  margin-inline: auto;
}


/*Buttons*/

.button {
  display: inline-block;
  font-family: initial;
  line-height: 36px;
  font-size: 20px;
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  min-height: 52px;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 20px;
}

.button-sn {
  min-height: 36px;
  font-size: 16px;
  line-height: 20px;
}

.button-primary {
  background-color: #756157;
  color: #FFFFFF;
}

.button-secondary {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.button-invisible {
  color: #FFFFFF;
}

.button-special {
  background-color: #7DB54F;
  color: #FFFFFF;
}

.button-current {
  background-color: #F2F2F2;
  color: #000000;
}

.button-small {
  background-color: #F2F2F2;
  color: #333333;
  font-size: 16px;
  line-height: 20px;
}

/*Header*/

.header {
  color: #000000;
  background-color: #FFFFFF;
}

.logo {
  display: block;
  width: 138px;
  margin-left: 70px;
}

.navigation {
  /*Почему высота хэдера 104пх?*/
  display: flex;
  margin: 0 auto;
}

.navigation-list,
.navigation-user {
  flex-wrap: wrap;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 20px;
  min-height: 20px;
}

.navigation-list {
  padding: 20px 16px;
}

.navigation-user {
  margin-left: auto;
}


.navigation-link {
  display: block;
  padding: 20px 16px;
  line-height: 24px;
  font-size: 20px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
}

.navigation-user-item {
  min-width: 44px;
  min-height: 64px;
}


.navigation-user-link {
  color: inherit;
  text-decoration: none;
}

.navigation-link-go {
  min-width: 160px;
  width: 160px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}



.hero {
  display: flex;
  justify-content: center;
  padding-top: 51px;
  padding-bottom: 25px;



  background-color: #3d6686;
  background-image: url(/images/vector.svg), url(/images/bg-header.jpg);
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
}

.title-block {
  padding-top: 69px;
  padding-bottom: 69px;
  background-color: #FFFFFF;
  text-align: center;
  color: #000000;
}

.title-block-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.title-block-secondary {
  font-size: 22px;
  line-height: 26px;
}


/*advantages*/


.advantages-list {
  /*Что-то не так с длинными*/
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantages-item-long {
  display: flex;
  width: 100%;
  background-color: #82B3D3;
  color: #FFFFFF;
}


.advantages-card {
  width: 400px;
  min-height: 385px;
  padding: 112px 85px;
}

.advantages-item-middle {
  background-color: #83B3D333;
}

.advantages-item-light {
  background-color: #83B3D31F;
}

.advantages-card-attractions {
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-card-long {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.convenience-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
  /*Текст не по центру*/
}

.convenience-item-middle,
.convenience-item-light {
  display: flex;
  min-height: 385px;
  flex-direction: column;
}

.registration {
  margin: 96px 304px;
}



.convenience-item-middle {
  background-color: #83B3D31F;
  text-align: center;
}

.convenience-item-light {
  text-align: center;
}

.convenience-item-point {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}


/*registration*/


.registration {
  background-color: #FFFFFF;
  text-align: center;
  color: #000000;
}

.registration-large {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.registration-secondary {
  font-size: 22px;
  line-height: 26px;
}


/*newsletter*/


.newsletter {
  /*Что то не так с переносом текста и фоном*/
  padding: 96px 258px 104px;
  background-color: #82B3D3;
  background-image: url(/images/bg-footer.jpg);
  color: #FFFFFF;
  text-align: center;
}

.newsletter-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.newsletter-secondary {
  font-size: 22px;
  line-height: 26px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer-socials {
  max-width: 160px;
}

.footer-contact {
  margin: 0 auto;
  max-width: 350px;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.address-container {
  max-width: 120px;
}

/*Catalog*/


.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  justify-content: space-evenly;
  margin: 0 70px;
  padding: 0;
  list-style: none;
}

.pagination {
  display: flex;
  padding: 40px 70px 60px;
}

.pagination-item-current {
  display: block;
  width: 60px;
  height: 60px;
  margin-right: 8px;
}

.pagination-item-light {
  display: block;
  width: 60px;
  height: 60px;
  margin-right: 8px;
}

.pagination-item {
  display: block;
  width: 60px;
  height: 60px;
  margin-right: 8px;
  text-decoration: none;
  /*Не работает декорация текста*/
}

.page-section {
  background-color: #82B3D3;
  background-image: url(/images/bg-catalog.jpg);
  color: #FFFFFF;
}

.catalog-filter-group {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.page-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-group-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 70px;
  width: 370px;
}


.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-search-container {
  display: flex;
  justify-content: end;
  width: 191px;
  align-content: stretch;
}

.catalog-activities {
  color: #000000;
  background-color: #FFFFFF;
}

.catalog-primary {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

/* Карточка*/

.product-card {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: repeat(5/min-content);
  gap: 16px 20px;
}

.product-card-link {}

.product-card-title {
  grid-column: 1/3;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.product-card-name {
}

.product-card-price {}

.button-grid-card {}

.button-small {
  grid-column: 2/3;
}






.newsletter-catalog {
  background-color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.newsletter-primary {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}
